version: "3.9"

services:
  whisper-api:
    build: .
    container_name: whisper-api
    ports:
      - "9000:9000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    runtime: nvidia
